{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeaderBoard System</title>
    <link rel="stylesheet" href="{% static 'css/DBstyles.css' %}">
</head>
<body class="body">
    <div class="insertmain">
    {% block content %}
    <center>
    <div class="card center spacer">
        <h1 class="title text-center">Disqualify</h1>
        <form method="post" class="login-form spacer" id="inputMember">
            {% csrf_token %} 
            <div class="input-group">
                <input 
                required="", 
                name="TeamNumber", 
                id="TeamNumber", 
                type="text", 
                class="form-input" , 
                placeholder="Enter TeamNumber" , 
                maxlength='2', 
                minlength='1'>
            </div>
            <input type="submit" class="btn" value="SUBMIT">
        </form>
    </div>
    </center> 
    {% endblock content %}
</div>
</body>
</html>